.searchSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.resultsSection {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: min(900px, 100%);
}
